<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 

@font-face {
  font-family: 'Bw Modelica LGC Thin';
  src: url('../font/Bw Modelica LGC Thin.eot');
  src: url('../font/Bw Modelica LGC Thin.woff2') format('woff2'),
       url('../font/Bw Modelica LGC Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelicaLGC-Thin';
  src: url('../font/BwModelicaLGC-Thin.woff') format('woff'),
       url('../font/BwModelicaLGC-Thin.ttf') format('truetype'),
       url('../font/BwModelicaLGC-Thin.svg#BwModelicaLGC-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Modelica LGC Regular';
  src: url('../font/Bw Modelica LGC Regular.eot');
  src: url('../font/Bw Modelica LGC Regular.woff2') format('woff2'),
       url('../font/Bw Modelica LGC Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelicaLGC-Regular';
  src: url('../font/BwModelicaLGC-Regular.woff') format('woff'),
       url('../font/BwModelicaLGC-Regular.ttf') format('truetype'),
       url('../font/BwModelicaLGC-Regular.svg#BwModelicaLGC-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bw Modelica LGC Medium';
  src: url('../font/Bw Modelica LGC Medium.eot');
  src: url('../font/Bw Modelica LGC Medium.woff2') format('woff2'),
       url('../font/Bw Modelica LGC Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelicaLGC-Medium';
  src: url('../font/BwModelicaLGC-Medium.woff') format('woff'),
       url('../font/BwModelicaLGC-Medium.ttf') format('truetype'),
       url('../font/BwModelicaLGC-Medium.svg#BwModelicaLGC-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Modelica LGC Light';
  src: url('../font/Bw Modelica LGC Light.eot');
  src: url('../font/Bw Modelica LGC Light.woff2') format('woff2'),
       url('../font/Bw Modelica LGC Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelicaLGC-Light';
  src: url('../font/BwModelicaLGC-Light.woff') format('woff'),
       url('../font/BwModelicaLGC-Light.ttf') format('truetype'),
       url('../font/BwModelicaLGC-Light.svg#BwModelicaLGC-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Modelica LGC Hairline';
  src: url('../font/Bw Modelica LGC Hairline.eot');
  src: url('../font/Bw Modelica LGC Hairline.woff2') format('woff2'),
       url('../font/Bw Modelica LGC Hairline.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelicaLGC-Hairline';
  src: url('../font/BwModelicaLGC-Hairline.woff') format('woff'),
       url('../font/BwModelicaLGC-Hairline.ttf') format('truetype'),
       url('../font/BwModelicaLGC-Hairline.svg#BwModelicaLGC-Hairline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Modelica LGC ExtraBold';
  src: url('../font/Bw Modelica LGC ExtraBold.eot');
  src: url('../font/Bw Modelica LGC ExtraBold.woff2') format('woff2'),
       url('../font/Bw Modelica LGC ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelicaLGC-ExtraBold';
  src: url('../font/BwModelicaLGC-ExtraBold.woff') format('woff'),
       url('../font/BwModelicaLGC-ExtraBold.ttf') format('truetype'),
       url('../font/BwModelicaLGC-ExtraBold.svg#BwModelicaLGC-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bw Modelica LGC Bold';
  src: url('../font/Bw Modelica LGC Bold.eot');
  src: url('../font/Bw Modelica LGC Bold.woff2') format('woff2'),
       url('../font/Bw Modelica LGC Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelicaLGC-Bold';
  src: url('../font/BwModelicaLGC-Bold.woff') format('woff'),
       url('../font/BwModelicaLGC-Bold.ttf') format('truetype'),
       url('../font/BwModelicaLGC-Bold.svg#BwModelicaLGC-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bw Modelica LGC Black';
  src: url('../font/Bw Modelica LGC Black.eot');
  src: url('../font/Bw Modelica LGC Black.woff2') format('woff2'),
       url('../font/Bw Modelica LGC Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BwModelicaLGC-Black';
  src: url('../font/BwModelicaLGC-Black.woff') format('woff'),
       url('../font/BwModelicaLGC-Black.ttf') format('truetype'),
       url('../font/BwModelicaLGC-Black.svg#BwModelicaLGC-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{font-family: 'BwModelicaLGC-Regular'!important; letter-spacing:0.6px;}

/*Nav header Start*/

.bg-darkblue{
background: #593ea2; /* Old browsers */
background: -moz-linear-gradient(left, #593ea2 0%, #593ea2 15%, #5172e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #593ea2 0%,#593ea2 15%,#5172e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #593ea2 0%,#593ea2 15%,#5172e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#593ea2', endColorstr='#5172e5',GradientType=1 ); /* IE6-9 */
}
.header-menu.navbar-dark .navbar-nav .nav-link{color:rgba(255,255,255,9); font-size:14px; font-family: 'BwModelicaLGC-Medium'!important; padding:1rem;}
.header-menu.navbar-dark .navbar-nav .nav-link:hover, .header-menu.navbar-dark .navbar-nav .nav-link:focus{color:#cfd9ff;}
.logo-menu{position:absolute;}
.header-menu ul.navbar-nav li{border-right:1px solid rgba(255,255,255,0.4);}
.header-menu ul.navbar-nav li.first{border-left:1px solid rgba(255,255,255,0.4);}
.header-menu{ border-bottom:1px solid rgba(255,255,255,0.4); padding:0 1rem;}
.header-menu .dropdown-menu{background:#5271e4; border-radius: 0; margin: 0; border: 1px solid rgba(255,255,255,0.3);}
.header-menu .dropdown-menu .dropdown-item{font-size:14px; font-family: 'BwModelicaLGC-Medium'!important; color:#fff;}
.header-menu .dropdown-menu .dropdown-item.first{border-bottom:1px solid rgba(255,255,255,0.4);}
.header-menu .dropdown-menu  .dropdown-item:focus, .header-menu .dropdown-menu  .dropdown-item:hover {color:#cfd9ff; text-decoration:none; background-color:#5271e4;}
.header-menu .navbar-brand{padding-top:0;}
.header-menu ul.navbar-nav li.last{border-right:0;}
/*Nav header End*/

/*home header Start*/
header{
background: #593ea2; /* Old browsers */
background: -moz-linear-gradient(left, #593ea2 0%, #593ea2 15%, #5172e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #593ea2 0%,#593ea2 15%,#5172e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #593ea2 0%,#593ea2 15%,#5172e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#593ea2', endColorstr='#5172e5',GradientType=1 ); /* IE6-9 */}
.header-margin{margin:0 auto 0 auto; padding:8em 0 6em 0; background:url("../img/herobanner-01.png") left top/cover no-repeat;}
.header-center{margin:0 auto;}
.headerform-main .header-content{
	display: inline-block;
	vertical-align: middle;
	width:500px;
}
.headerform-main .header-form{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 540px);
	margin: 0 0 0 35px;
	-webkit-box-shadow: 0px 1px 15px 0px rgba(50, 50, 50, 0.99);
	-moz-box-shadow:    0px 1px 15px 0px rgba(50, 50, 50, 0.99);
	box-shadow:         0px 1px 15px 0px rgba(50, 50, 50, 0.99);
}
h2.blk-title{font-size:2.2em; font-family: 'Bw Modelica LGC Regular'; color:#fff;}
.discover-btn{margin:80px 0 0 0;}
.headerform-main .header-content .discription{font-size:0.9em; font-family: 'Bw Modelica LGC Regular'; color:#fff;}
.headerform-main .header-content .discription span{font-size:0.9em;  font-family: 'BwModelicaLGC-Bold';   color:#fff;}
.btn-global{background: #79ccff; /* Old browsers */
	background: -moz-linear-gradient(left, #79ccff 0%, #6270ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #79ccff 0%,#6270ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #79ccff 0%,#6270ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79ccff', endColorstr='#6270ff',GradientType=1 ); /* IE6-9 */
	color:#fff;   font-family: 'BwModelicaLGC-ExtraBold'; font-size:12px; border-radius:0; border:0; padding:15px 30px;
	    -moz-box-shadow: -12px 14px 34px #c3c4c6;
    -webkit-box-shadow: -12px 14px 34px #c3c4c6;
    box-shadow: -12px 14px 34px #c3c4c6;
	}
	.btn-global-dark{
	background: #79ccff; /* Old browsers */
	background: -moz-linear-gradient(left, #79ccff 0%, #6270ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #79ccff 0%,#6270ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #79ccff 0%,#6270ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79ccff', endColorstr='#6270ff',GradientType=1 ); /* IE6-9 */
	color:#fff;   font-family: 'BwModelicaLGC-ExtraBold'; font-size:12px; border-radius:0; border:0; padding:15px 30px;
	-moz-box-shadow: -12px 14px 40px #413f3f;
    -webkit-box-shadow: -12px 14px 40px #413f3f;
    box-shadow: -12px 14px 40px #413f3f;	
	}
.btn-global span, .btn-global-dark span{margin:0 0 0 15px;}
.login-form{
    background:#f6f7fa;
	padding:60px 0 0 0;
}
.login-form .form-wrap {
    width:80%;
    margin: 0 auto;
}
.login-form h1 {
    color: #2e2e2e;
    font-size: 15px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
	font-weight:600;
}
.login-form .form-group {
    margin-bottom: 25px;
}
.login-form .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.login-form .checkbox.show:before {
    content: '\f00c';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
.login-form .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
.login-form .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
.login-form .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
.login-form .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}
.form-control:focus{background:transparent!important; border-color:none!important; outline:0!important; box-shadow:none!important;}
input.form-control {border:0; border-bottom:1px solid #ecedf5; font-size:15px;  background:transparent; color:#838383; font-family: 'BwModelicaLGC-Regular';}
.login-form .form-check-label{color:#838383; font-family: 'BwModelicaLGC-Regular'; font-size:12px;}
.login-form .form-check-input{top:1px!important;}
.forgot-pass a{color:#838383; font-family: 'BwModelicaLGC-Regular'; font-size:12px;}
.forgot-pass a:hover{color:#6270ff; text-decoration:none;}
.rebember-group .form-check{display:inline-block; vertical-align:top;}
.rebember-group .forgot-pass{float:right;}
.login-btn{margin:45px 0 0 0;}
.login-form .discrip{color:#afafaf; font-family: 'BwModelicaLGC-Regular'; font-size:12px; padding: 5em 0;}
.login-form .login-footers{
		background: #7acaff; /* Old browsers */
		background: -moz-linear-gradient(left, #7acaff 0%, #9b75ff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #7acaff 0%,#9b75ff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #7acaff 0%,#9b75ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7acaff', endColorstr='#9b75ff',GradientType=1 ); /* IE6-9 */	
		color:#fff; font-family: 'BwModelicaLGC-Regular'; font-size:13px; padding: 1em 3em;
	}
	.login-form .login-footers a{padding:0 0 0 4em; color:#fff; text-decoration:underline; }
	.login-form .login-footers a:hover{color:#cfd9ff;}
	
/*---------------------       Model for forgot Password              --------------------------*/	
.modal.show .modal-dialog{top:100px;}
.modal .modal-content{border-radius:0;}	
.modal-title{color: #2e2e2e; font-size: 15px; text-align: left; font-family: 'Open Sans', sans-serif; font-weight: 600;}
.modal .input-group-addon{margin:7px 0 0 0; color: #838383;}
.modal-footers{background: #7acaff; /* Old browsers */
		background: -moz-linear-gradient(left, #7acaff 0%, #9b75ff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #7acaff 0%,#9b75ff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #7acaff 0%,#9b75ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7acaff', endColorstr='#9b75ff',GradientType=1 ); /* IE6-9 */
		height:5px;}
.login-form.signup-form{padding:1em 0!important;}
/*home header End*/

/* bestbit-2 section start*/
.bestbit-2{text-align:center; padding:5em 0 3em 0;}
.bestbit-2 .title{color:#838383; font-size:12px; text-transform:uppercase; margin:0 0 1.5em 0;}
h3.sec-title{font-family: 'BwModelicaLGC-Bold'; color:#2e2e2e;  font-size:2em; margin:1em 0;}
.bestbit-2 .discrip{color:#838383; font-size: 17px; line-height: 30px; margin: 0 0 3em 0;}
	.progress{
		width: 150px;
		height: 150px;
		line-height: 150px;
		background: none;
		margin: 0 auto;
		box-shadow: none;
		position: relative;
	}
	.progress:after{
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 2px solid #fff;
		position: absolute;
		top: 0;
		left: 0;
	}
	.progress > span{
		width: 50%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 1;
	}
	.progress .progress-left{
		left: 0;
	}
	.progress .progress-bar{
		width: 100%;
		height: 100%;
		background: none;
		border-width: 3px;
		border-style: solid;
		position: absolute;
		top: 0;
	}
	.progress .progress-left .progress-bar{
		left: 100%;
		border-top-right-radius: 80px;
		border-bottom-right-radius: 80px;
		border-left: 0;
		-webkit-transform-origin: center left;
		transform-origin: center left;
	}
	.progress .progress-right{
		right: 0;
	}
	.progress .progress-right .progress-bar{
		left: -100%;
		border-top-left-radius: 80px;
		border-bottom-left-radius: 80px;
		border-right: 0;
		-webkit-transform-origin: center right;
		transform-origin: center right;
		animation: loading-1 1.8s linear forwards;
	}
	.progress .progress-value{
		width: 85%;
		height: 85%;
		border-radius: 50%;
		border: 2px solid #ebebeb;
		font-size: 32px;
		line-height: 125px;
		text-align: center;
		position: absolute;
		top: 7.5%;
		left: 7.5%;
	}
	.progress.blue .progress-bar{
		border-color:  #977eff; /* Old browsers */
	}
	.progress.blue .progress-value{
		color: #2e2e2e;
	}
	.progress.blue .progress-left .progress-bar{
		animation: loading-2 1.5s linear forwards 1.8s;
	}
	.progress.yellow .progress-bar{
		border-color: #fdba04;
	}
	.progress.yellow .progress-value{
		color: #fdba04;
	}
	.progress.yellow .progress-left .progress-bar{
		animation: loading-3 1s linear forwards 1.8s;
	}
	.progress.pink .progress-bar{
		border-color: #ed687c;
	}
	.progress.pink .progress-value{
		color: #ed687c;
	}
	.progress.pink .progress-left .progress-bar{
		animation: loading-4 0.4s linear forwards 1.8s;
	}
	.progress.green .progress-bar{
		border-color: #1abc9c;
	}
	.progress.green .progress-value{
		color: #1abc9c;
	}
	.progress.green .progress-left .progress-bar{
		animation: loading-5 1.2s linear forwards 1.8s;
	}
	@keyframes loading-1{
		0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100%{
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	@keyframes loading-2{
		0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100%{
			-webkit-transform: rotate(144deg);
			transform: rotate(144deg);
		}
	}
	@keyframes loading-3{
		0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100%{
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
	@keyframes loading-4{
		0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100%{
			-webkit-transform: rotate(36deg);
			transform: rotate(36deg);
		}
	}
	@keyframes loading-5{
		0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100%{
			-webkit-transform: rotate(126deg);
			transform: rotate(126deg);
		}
	}
	@media only screen and (max-width: 990px){
		.progress{ margin-bottom: 20px; }
	}
	.progress-bit-title{margin:1em 0!important;}
	.progress-bit-title .titles{color:#2e2e2e; font-family: 'BwModelicaLGC-Bold'; margin:2em 0 0.5em 0; text-transform: uppercase; font-size:14px;}
	.progress-bit-title .subtitle{color:#838383; font-size:14px;}
/* bestbit-2 section end*/

/*section4 start*/
.section4{
	background: #79ccff; /* Old browsers */
	background: -moz-linear-gradient(left, #79ccff 1%, #9b74ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #79ccff 1%,#9b74ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #79ccff 1%,#9b74ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79ccff', endColorstr='#9b74ff',GradientType=1 ); /* IE6-9 */
	padding:5em 0 7em 0;
}
.section4 .box-main-sec4{background:#fff; padding:10px;}
.box-main-sec4 .toplabel label{font-size:14px; text-transform:uppercase; font-family: 'BwModelicaLGC-Bold';}
.box-main-sec4 .toplabel span{font-size:14px; font-family: 'BwModelicaLGC-Bold'; float: right;}
.box-main-sec4 .bottomlabel .title{font-size:14px; font-family: 'BwModelicaLGC-Bold';}
.box-main-sec4 .bottomlabel .title span{font-size:14px; font-family: 'BwModelicaLGC-Bold';}
.box-main-sec4 .bottomlabel  .discrip label{font-size:12px;}
.box-main-sec4 .bottomlabel  .discrip span{font-size:12px; text-transform:uppercase;}
.pink-color{color:#ff003c;} 
.dark-color{color:#2e2e2e;}
.gray-color{color:#838383;}
.green-color{color:#21b116;}
.red-color{color:#ff244d;}
.blue-color{color:#7c88ff;}
.gray-color{color:#7c88ff;}
.sec4-view1{		
		background: #79ccff; /* Old browsers */
		background: -moz-linear-gradient(left, #79ccff 1%, #9b74ff 42%, #9b74ff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #79ccff 1%,#9b74ff 42%,#9b74ff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #79ccff 1%,#9b74ff 42%,#9b74ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79ccff', endColorstr='#9b74ff',GradientType=1 ); /* IE6-9 */
		width:100%;
		height:2px;
	}
.sec4-view2{
		background: #ffdc1e; /* Old browsers */
		background: -moz-linear-gradient(left, #ffdc1e 1%, #ff5b00 65%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #ffdc1e 1%,#ff5b00 65%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #ffdc1e 1%,#ff5b00 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc1e', endColorstr='#ff5b00',GradientType=1 ); /* IE6-9 */
		width:100%;
		height:2px;
	}
.sec4-view3{
		background: #60fd7a; /* Old browsers */
		background: -moz-linear-gradient(left, #60fd7a 1%, #d463fe 65%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #60fd7a 1%,#d463fe 65%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #60fd7a 1%,#d463fe 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60fd7a', endColorstr='#d463fe',GradientType=1 ); /* IE6-9 */
		width:100%;
		height:2px;
	}
.sec4-view4{				
		background: #fb5383; /* Old browsers */
		background: -moz-linear-gradient(left, #fb5383 1%, #9c74ff 65%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #fb5383 1%,#9c74ff 65%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #fb5383 1%,#9c74ff 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5383', endColorstr='#9c74ff',GradientType=1 ); /* IE6-9 */
		width:100%;
		height:2px;
	}	
.section4 .viewsec4:hover{-moz-box-shadow: -1px 3px 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: -1px 3px 15px rgba(0,0,0,0.5);
box-shadow: -1px 3px 15px rgba(0,0,0,0.5);}
/*section4 end*/


/*Section 5 start*/
.section5 {background:#f1f5f9; position:relative; width:100%;}
.section5 .nav-tabs{}
.table td, .table th{border:1px solid #9dc3e9 !important; vertical-align: middle;}
.section5 ul.nav-tabs {margin:0 0 3px 0; padding:0; width:100%; border:0; position: relative; z-index:3;}
.section5 ul.nav-tabs li{margin:0 3px 0 0; padding:0; list-style:none; width:12%;}
.section5 ul.nav-tabs li a{background:#fff; color:#2e2e2e; font-size:15px; font-family: 'BwModelicaLGC-Medium'; padding:10px 10px; display:block; text-align:center; text-decoration:none;}
.section5 ul.nav-tabs li a.active, .section5 ul.nav-tabs li a:hover, .section5 ul.nav-tabs li a:focus{color:#546aff;}
table tr th{background:#fff; color:#838383; font-size:12px; font-family: 'BwModelicaLGC-Thin'!important; border:0; margin:0 0 1px 0;}
table tr  td{ font-family: 'BwModelicaLGC-Regular'; font-size:13px; color:#2e2e2e; background:#fff; border:0; margin:0 0 1px 0;}
table tr  td.first{color:#2e2e2e; font-size:13px; font-family: 'BwModelicaLGC-Bold';}
table tr td i.fa-star.active{color:#7c88ff;}
table tr td i.fa-star{color:#d3d3d3;}
.section5 .card{border:0; position: relative; top: -70px; background:transparent;}
.page-s{text-align:right;}
.page-s ul{margin:0; padding:0;}
.page-s ul li{margin:0; padding:0; list-style:none; display:inline-block; vertical-align:top;}
.page-s ul li a.active{
	background: #79ccff; /* Old browsers */
	background: -moz-linear-gradient(left, #79ccff 1%, #6270ff 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #79ccff 1%,#6270ff 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #79ccff 1%,#6270ff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79ccff', endColorstr='#6270ff',GradientType=1 ); /* IE6-9 */
	color:#fff; width: 30px; height: 30px; text-align: center; display:block; line-height:30px;
	}
.page-s ul li a{color:#2e2e2e; width: 30px; height: 30px; text-align: center; display:block; line-height:30px; font-family: 'BwModelicaLGC-Medium';}	
/*Section 5 end*/


/* Footer first part start*/
.dark-footer{background:#060a35; padding:2em 0;}
.abloutftr p{color:rgba(255,255,255,0.5); font-size:15px; margin:2em 0 0 0; line-height: 35px;}
.footer-title{font-size:18px; color:#fff; margin:0 0 20px 0;}
.dark-footer .spl-link ul{margin:0; padding:0;}
.dark-footer .spl-link ul li{margin:0; padding:0 0 10px 0; list-style:none;}
.dark-footer .spl-link ul li a{color:rgba(255,255,255,0.5); font-size:15px; text-decoration:none;}
.dark-footer .spl-link ul li a:hover, .dark-footer .spl-link ul li a.active{color:#fff; border-bottom:1px solid #79ccff;}
.blog-footer .view-blogs{width: 60%; margin:0 0 30px 0;}
.blog-footer .view-blogs .date{color:rgba(255,255,255,0.5); font-size:13px;}
.blog-footer .view-blogs .titles{padding:5px 0;}
.blog-footer .view-blogs .titles a{color:rgba(255,255,255,0.5); font-family: 'BwModelicaLGC-Bold'; font-size:13px; }
.blog-footer .view-blogs .author{color:rgba(255,255,255,0.5); font-size:13px;}
.contact-main .left{display:inline-block; vertical-align:top; color:rgba(255,255,255,0.5); font-size:13px; width:20px;}
.contact-main .left i{color:#3b44a9; font-size:18px;}
.contact-main .right{display:inline-block; vertical-align:top; color:rgba(255,255,255,0.5); font-size:13px; width: calc(100% - 37px);
margin: 0 0 0 10px;}
.contact-main .view-cont{display:block; margin: 0 0 15px 0;}
.contact-main .right a{color:rgba(255,255,255,0.5);}
.blog-footer .view-blogs .titles a:hover{color:#fff; text-decoration:none;}
/* Footer first part end*/

/* Footer Second part start*/
.darkes-footer{background:#05082b; padding:5px 0;}
.darkes-footer p{color:rgba(255,255,255,0.5); margin:0; padding:10px 0; font-size:12px;}
.footer-social{text-align:right;}
.footer-social ul{margin:0; padding:0;}
.footer-social ul li{margin:0; padding:5px 20px 0 0; list-style:none; display:inline-block; vertical-align:top;}
.footer-social ul li a{margin:0; padding:0; color:rgba(255,255,255,0.5); font-size:17px;}
.footer-social ul li a:hover, .footer-social ul li a.active{color:#fff;}
.logo-yellow{color:#ffe11b;}
/* Footer Second part end*/

#favorites iframe{position:absolute; top:10px;}


/*contact us page start*/
.section6{background:#f6fafe; padding:1.5em 0; margin-top: 50px;}
.contact-s{ font-family: 'BwModelicaLGC-Bold'; color:#2e2e2e; text-align:center; font-size:3em;}
.stay-here .titles{color: #838383; font-size: 12px; text-transform: uppercase; letter-spacing: 1px;}
.stay-here .sub-title{font-family: 'BwModelicaLGC-Bold'; font-size:30px; color:#2e2e2e; padding: 0.5em 0 1em 0;}
.newsletter-box {position: relative;}
.newsletter-box .news-input{width: 100%; background: #f1f6f9; height: 50px; border: 0; border-radius: 0; padding: 0 145px 0 15px;
color: #2e2e2e; margin: 0; font-size: 14px;  font-family: 'BwModelicaLGC-Regular'; font-style:italic;}
.newsletter-box .subs-btn{position: absolute; right: 0; top: 0; padding: 0 12px; height: 50px;   text-transform: uppercase; margin: 0; box-shadow:none;}
.stayform-s p{color:#acacac; font-size:12px; font-style:italic; margin:1.5em 0; line-height:20px;}
.cont-social h3{font-family: 'BwModelicaLGC-Bold'; font-size:18px; color:#2e2e2e;}
.cont-social .footer-social{text-align:left;}
.cont-social .footer-social ul li{background:#6270ff; width:32px; height:32px; border-radius: 100px; text-align: center; padding: 0; margin: 20px 5px 20px 0;}
.cont-social .footer-social ul li a:hover{color:#6270ff; background:#79caff; border-radius:100px;}
.cont-social .footer-social a{color:#fff!important; line-height: 32px; font-size: 13px; display:block;}
.cont-social{margin:3em 0 0 0;}
/*contact us page end*/

/*Section7 start*/
.section7{padding:2em 0;}
.textareas{border-bottom:1px solid #ecedf5!important; border:0; height:200px; max-height:200px;}
.stayform-s .discover-btn{margin: 40px 0 0 0;}
.stayform-s .discover-btn .btn-global-dark{box-shadow:none;}
.mapplace{background: rgba(84,97,207,0.001); width:100%;}
.mapplace iframe{position:relative; z-index:-5;}
/*Section7 end*/

/*Section8 start*/
.section8{background: rgba(84,97,207,0.1);}
.contact-views .title{color:#444dad; font-size:18px; font-family: 'BwModelicaLGC-Bold'; margin: 10px 0 0 0;}
.contact-views .discrip h4{color: #2e2e2e;  font-size: 18px;  font-family: 'BwModelicaLGC-Regular'; margin: 15px 0;}
.contact-views .discrip{color: #838383;  font-size: 14px; line-height:26px;}
/*Section8 end*/


/*Section9 start*/
.section9{padding:3em 0; text-align:center;}
.column-para{-webkit-column-count: 2; -moz-column-count: 2;  column-count: 2; color:#838383; font-size:15px; text-align:left; line-height: 28px;}
.nobox-shadow .btn{box-shadow:none;}
/*Section9 end*/

/*Section10 start*/
.section10{padding:3em 0;}
.lightblue-bg{background:#f7fafb;}
.team-member .team-details h5{color:#2e2e2e; font-size:15px; font-family: 'BwModelicaLGC-Bold'; text-align:center; letter-spacing:1px;}
.team-member .team-details p{color:#6270ff; font-size:11px; text-transform:uppercase; font-family: 'BwModelicaLGC-Bold'; text-align:center; letter-spacing:1px;}
.team-member .team-details{margin:30px 0 0 0;}
.team-member .team-image{height:350px; overflow:hidden;}

.team-member .team-image img{ width:100%; height:100%; padding:1px; background: #6e9fff; /* Old browsers */
background: -moz-linear-gradient(left, #6e9fff 0%, #7f72ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #6e9fff 0%,#7f72ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #6e9fff 0%,#7f72ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e9fff', endColorstr='#7f72ff',GradientType=1 ); /* IE6-9 */
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.team-member .team-image img:hover{ -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);}
/*Section10 emd*/


/*Section11 start*/
.section11{padding:3em 0;}
.team-member .teampoint-image{text-align:center; margin:0 0 15px 0;}
.team-member .teampoint-details h5{color:#2e2e2e; font-size:20px; font-family: 'BwModelicaLGC-Bold'; text-align:center; letter-spacing:1px; margin:0 ;}
.team-member .teampoint-details p{color:#838383; font-size:14px;  font-family: 'BwModelicaLGC-Medium'; text-align:center; letter-spacing:1px;}
/*Section11 end*/

/* Testimorial start*/
.grident-bg{background: #79ccff; /* Old browsers */
	background: -moz-linear-gradient(left, #79ccff 1%, #9b74ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #79ccff 1%,#9b74ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #79ccff 1%,#9b74ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79ccff', endColorstr='#9b74ff',GradientType=1 ); /* IE6-9 */}
.testmorial-main{width:70%; margin:0 auto;}
.testimorial .carousel-item{color:#000;}
.testimorial{text-align:center; padding:3em 0;}
.testmor-header h5{font-size:12px; text-transform:uppercase; letter-spacing:1px; color:#fff;}
.testmor-header p{color:#fff; font-size:30px; font-family: 'BwModelicaLGC-Bold'; letter-spacing:1px;}
.testmor-image {width:145px; height:145px; overflow:hidden; margin:1em auto!important;}
.testmor-image img{width:100%; height:100%; border-radius:100%;}
.testimg-discrip h4{font-family: 'BwModelicaLGC-Bold'; color:#2e2e2e; font-size:15px;}
.testimg-discrip h4 span{font-family: 'BwModelicaLGC-Regular'; color:#fff;}
.testimg-discrip p{font-size:13px; color:#fff; line-height:25px; margin: 1em 0;}
.testimorial .view-testi{display:block; margin:2em 0;}
.testimorial  .carousel-indicators{margin:2em 0 0 0!important; bottom:0;}
.testimorial .carousel-item{height:auto!important;}
/*Testimorial Emd*/

/*Faq page start*/
.faqpage{padding:3em 0;}
.faq-main {margin:1em 0;}
.faq-main h4{color:#2e2e2e; font-family: 'BwModelicaLGC-Bold'; font-size:20px;}
.faq-main p{color:#838383; font-size:14px; font-family: 'BwModelicaLGC-Regular';}
/*faq page end*/


/*--------------------------------      Fee & Limits  Start     ---------------------------------*/
h4.static-title{font-family: 'BwModelicaLGC-Bold'; color:#444dad; font-size:26px;  text-align:left; margin: 0 0 20px 0; border-bottom: 1px solid #e2e2e2; padding: 0 0 10px 0;}
.data-details h5{color:#126db6; font-family: 'BwModelicaLGC-Regular'; font-weight:bold; font-size:18px;}
.staric-data .data-details ul{margin:0 0 5px 0;}
.staric-data .data-details ul li label{color:#2e2e2e; font-family: 'BwModelicaLGC-Bold';  font-size:16px;}
.staric-data .data-details ul li span{color:#2e2e2e; font-family: 'BwModelicaLGC-Regular'; font-size:16px;}
.data-details p.disclimer{color:#838383; font-size:13px;}
.color-red{color:#ff0000;}
.details-disc{color:#383838; font-size:15px; line-height: 30px;}
.fee-table h5{color:#126db6; font-family: 'BwModelicaLGC-Bold';  font-size:16px; text-transform:uppercase;}
table tr th{background:#444dad; color:#fff; font-size:15px; font-family: 'BwModelicaLGC-Regular'!important; letter-spacing:1px;}
.detal-adhar li{list-style:none; color: #126db6; margin: 0 0 15px 0;}
.data-details h5 span{font-size:13px;}
.color-white{color:#fff!important;}
.disclimer .testmor-header p{text-decoration: underline;}
/*--------------------------------      Fee & Limits  End     ---------------------------------*/



/*--------------------------------      Terms-condition  Start     ---------------------------------*/
.terms-rules ul{margin:0; padding:0;}
.terms-rules ul li{margin:0 0 20px 0; padding:0; list-style:none;}
.terms-rules ul li label{width: 275px; display: block; float: left; font-weight: bold; font-size: 15px; position:relative;}
.terms-rules ul li span{display: inline-block; vertical-align: top; width: calc(100% - 280px); line-height: 30px; padding: 0 0 0 15px;}
.terms-rules ul li label:after{content:":"; position:absolute; right:0; }
ol.orderlist-li li{ list-style-type: square;}
.user-use{color:#2e2e2e;}
/*--------------------------------      Terms-condition End     ---------------------------------*/


/*------------------      KYC Form Start         ----------------------*/

.nav-tabs--vertical {
  border:0;
  display: flex;
  flex-flow: column nowrap;
}
.nav-tabs--left {
  margin: 0 15px;
}
.nav-tabs--left .nav-item + .nav-item {
  margin-top: .25rem;
}
.nav-tabs--left .nav-link {
  border:0;
  white-space: nowrap;
}
.nav-tabs--left .nav-link:hover {
  background-color: #f7f7f7;
  border-color: transparent;
}
.nav-tabs--left .nav-link.active {
border:0;
  margin-right: -1px;
}
.nav-tabs--left .nav-link.active:hover {
  background-color: #fff;
  border-color: #0275d8 #fff #0275d8 #0275d8;
}
.tabkyc-form ul.nav-tabs  li.nav-item{display:block; margin:0 0 20px 0; border:0; padding:0 2em ;}
.tabkyc-form ul.nav-tabs  li.nav-item a{font-family: 'BwModelicaLGC-Bold';  color: #8b929b; font-size:15px; letter-spacing:1px;}
.tabkyc-form ul.nav-tabs  li.nav-item a.active{color:#2e2e2e;}
.tabkyc-form ul.nav-tabs  li.nav-item a span{display:block; font-family: 'BwModelicaLGC-Regular'!important; font-size:14px; font-weight:bold;}
.formindenty .form-group{display:block; width:100%; text-align:left; margin:0 0 20px 0;}
.formindenty .form-group label{justify-content: left; display: inline-block; vertical-align: middle; width: 130px; margin: 0 20px 0 0;
font-size: 13px; color:#6e6f6f; line-height: 25px;}
.formindenty .select-data{display:inline-block; vertical-align:middle;}
.formindenty .form-group input.form-control{justify-content:left; display:inline-block; vertical-align:middle;  -webkit-appearance: none;  
  -moz-appearance: none; }
  .formindenty .form-group input[type="text"]{border-bottom:1px solid #ccc;}
  .formindenty .form-group select{width:100px;}
  select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
.image-preview-input, .image-preview-input1 {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file], .image-preview-input1 input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title, .image-preview-input-title1 {
    margin-left:2px;
}
.tabkyc-form .input-group.image-preview, .tabkyc-form .input-group.image-preview1{display:inline-block; vertical-align:middle;}
.tabkyc-form .input-group .image-preview-clear, .tabkyc-form .input-group .image-preview-clear1{background:#e6e6e6;}
.tabkyc-form .input-group.image-preview input, .tabkyc-form .input-group.image-preview1 input{width: 300px; background:transparent; 
border:1px solid #ccc;}
.marfin-top-tab{margin:30px  0 0 0;}
.formindenty textarea{border:1px solid #ccc; max-height:300px; height:100px;}
.passvary-s{font-family:'BwModelicaLGC-Regular'!important; font-size:20px; font-weight:bold; color:#2e2e2e; margin:0 0 20px 0;}
/*------------------      KYC Form End         ----------------------*/


/*------------------------       Deposit                 ------------------------*/
.datatable-s i.cc{font-size: 2em; margin: 0 5px 0 0;}
.datatable-s i.fa-bitcoin{font-size: 2em; margin: 0 5px 0 0; color:#a4d465;}
.datatable-s .small-gray{color:#ababab; font-size:13px;}
.datatable-s .actions a{font-family: 'BwModelicaLGC-Bold'; font-size:13px; color:#444dad; padding:0 5px; text-decoration:none;}
.datatable-s .actions{text-align:center;}
.withdraw-form h3{font-family: 'BwModelicaLGC-Bold'; font-size:20px;}
.withdraw-form{margin:25px 0 0 0;}
.note-s h3{font-family: 'BwModelicaLGC-ExtraBold'; font-size:14px;}
.note-s .discrip{font-family: 'BwModelicaLGC-Bold'; font-size:13px;}
.note-s{margin:25px  0 0 0;}
.dis-s{margin:0 0 15px 0;}
.note-s .discrip p{font-family:'BwModelicaLGC-Regular'!important; }

.estmit-block .view-row label{font-family:'BwModelicaLGC-Regular'!important;}
.estmit-block .view-row span{font-family: 'BwModelicaLGC-Bold'!important; padding: 0 0 0 5px;}
